{{#if logIn.loggedIn}}
{{question.user.username}}'s question:
{{question.header}}
Go ahead and answer this, {{logIn.loggedInUser.first_name}}!
  {{input value=answer}}
  <button {{action 'answerQuestion'}}>Submit answer</button>
{{else}}
  You are not logged in.
{{/if}}
