<div class="qListTile">
  {{#link-to 'question' question.id}}
    <div class="qListUpper">
      <span class="qListHeader">{{question.header}}</span>
    </div>
  {{/link-to}}
  <div class="qListMiddle">
    <span class="qListTimestamp">{{brief-date question.timestamp}}</span>
    <span class="qListAskedBy">asked by <span class="qListUser">{{question.user.username}}</span>
      {{#if loggedInUserMatch}}<span class="deleteButton" {{action "deleteQuestion" question}}>Delete</span>{{/if}}
    </span>
  </div>
  <div class="qListLower">
    <span class="qListPreview">{{contentPreview}}</span>
  </div>
</div>
