<div>
  <div>
    {{question.header}}
  </div>
  {{#unless editing}}
    <div>
      <span>{{pretty-date question.timestamp}}</span>
      <span>{{question.user.username}}</span>
      {{#if logIn.loggedIn}}
        {{#link-to 'answer' question.id}}
          <span class="answerButton">Answer this!</span>
        {{/link-to}}
      {{/if}}
      {{#if loggedInUserMatch}}
        <span class="editButton" {{action "edit"}}>Edit</span>
        <span class="deleteButton" {{action "deleteQuestion" question}}>Delete</span>
      {{/if}}
    </div>
    <div>
      {{question.content}}
    </div>
  {{else}}
    <div>
      {{input value=question.header}}
        <span class="editButton" {{action "updateQuestion" question}}>Save</span>
        <span class="deleteButton" {{action "deleteQuestion" question}}>Delete</span>
    </div>
    <div>
      {{textarea value=question.content}}
    </div>
  {{/unless}}
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer deleteAnswer="deleteAnswer"}}
  {{/each}}
</div>
