<label for="username">Username</label>
{{input value=username id="username"}}
<label for="password">Password</label>
{{input type="password" value=password id="password"}}
<label for="email">Email</label>
{{input value=email id="email"}}
<label for="first-name">First name</label>
{{input value=first-name id="first-name"}}
<label for="last-name">Last name</label>
{{input value=last-name id="last-name"}}
<label for="bio">Short personal bio</label>
{{textarea value=bio id="bio"}}
<button {{action "createUser"}}>Sign up</button>
